---
import Main from "../layouts/main.astro";
import Customers from "../ui/landing/customers.astro";
import Hero from "../ui/landing/hero.astro";
import Scaling from "../ui/landing/scaling.astro";
import Testimonials from "../ui/landing/testimonials.astro";
import WhySupafana from "../ui/landing/why-supafana.astro";
import Yc from "../ui/landing/yc.astro";
---

<Main meta={{ title: "Metrics and observability for Supabase" }}>
  <Hero />
  <WhySupafana />
  {/* <Scaling /> */}
  <Yc />
  {/* <Customers /> */}
  {/* <Testimonials /> */}
</Main>
