---
import { TbHorseToy as Baby } from "react-icons/tb";
import { HiCursorArrowRays as OneClick } from "react-icons/hi2";
// import { GiDinosaurBones as Persistent } from "react-icons/gi";
import { GiSawedOffShotgun as Secure } from "react-icons/gi";
import { AiFillAlert as Alerts } from "react-icons/ai";
import { GiWomanElfFace as Support } from "react-icons/gi";
// import { FaGithubAlt as GitHub } from "react-icons/fa";
// import { FaInternetExplorer as Intranet } from "react-icons/fa";
---

<div class="grid grid-cols-1 gap-x-4 gap-y-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-6 lg:gap-y-6">
  <div class="flex">
    <div
      class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white"
    >
      <div class="p-1 max-w-min border rounded-full">
        <div class="p-3 max-w-min border rounded-full text-pink-500">
          <Baby size={36} />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="m-0 font-bold leading-5text-white">Hosted</h3>
        <p class="m-0 leading-6 opacity-70">
          If you use hosted Supabase, chances are you have an appreciation for having someone else
          handle infrastructure. Say you want advanced observability for your Supa DB, but have got
          better things to do than sort out Grafana deployment? Supafana is for you!
        </p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div
      class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white"
    >
      <div class="p-1 max-w-min border rounded-full">
        <div class="p-3 max-w-min border rounded-full text-pink-500">
          <OneClick size={36} />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="m-0 font-bold leading-5text-white">One-click setup</h3>
        <p class="m-0 leading-6 opacity-70">
          When things are going wrong with your production DB, the last thing you want is to drop
          everything and march down the road of solving observability infrastructure. Supafana
          offers a one-click alternative.
        </p>
      </div>
    </div>
  </div>
  {
    /*
  <div class="flex">
    <div
      class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white"
    >
      <div class="p-1 max-w-min border rounded-full">
        <div class="p-3 max-w-min border rounded-full text-pink-500">
          <Persistent size={36} />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="m-0 font-bold leading-5text-white">Persistent historical data</h3>
        <p class="m-0 leading-6 opacity-70">
          One of the issues with running <a
            class="link flex gap-1.5 items-center"
            href="https://github.com/supabase/supabase-grafana"
            target="_blank"><GitHub /> supabase-grafana</a
          > as a vanilla container is having all historical data wiped on container restart. Supafana
          ensures historical data remains intact if your observability instance reboots.
        </p>
      </div>
    </div>
  </div>
  */
  }
  <div class="flex">
    <div
      class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white"
    >
      <div class="p-1 max-w-min border rounded-full">
        <div class="p-3 max-w-min border rounded-full text-pink-500">
          <Secure size={36} />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="m-0 font-bold leading-5text-white">Secure</h3>
        <p class="m-0 leading-6 opacity-70">
          Supafana secures your Grafana/Prometheus instance with TLS, a strong password, and
          sensible infrastructure.
        </p>
      </div>
    </div>
  </div>
  {
    /*
  <div class="flex">
    <div
      class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white"
    >
      <div class="p-1 max-w-min border rounded-full">
        <div class="p-3 max-w-min border rounded-full text-pink-500">
          <Intranet size={36} />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="m-0 font-bold leading-5text-white">Intranet</h3>
        <p class="m-0 leading-6 opacity-70">
          To be clear, if you <i>are</i> running
          <a
            class="link flex gap-1.5 items-center"
            href="https://github.com/supabase/supabase-grafana"
            target="_blank"><GitHub /> supabase-grafana</a
          > on the intranet, it’s still imperative to take security extremely seriously.
        </p>
      </div>
    </div>
  </div>
  */
  }
  <div class="flex">
    <div
      class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white"
    >
      <div class="p-1 max-w-min border rounded-full">
        <div class="p-3 max-w-min border rounded-full text-pink-500">
          <Alerts size={36} />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="m-0 font-bold leading-5text-white">
          Alerts <sub class="text-pink-500 uppercase text-[8px]">new</sub>
        </h3>
        <p class="m-0 leading-6 opacity-70">
          Supafana observability instances come pre-configured with email alerts for high CPU, low
          RAM, low disk space, and high connection count.
        </p>
      </div>
    </div>
  </div>
  <div class="flex">
    <div
      class="relative box-border flex flex-col gap-5 overflow-hidden dark:border-neutral-800 rounded-xl border p-8 no-underline text-black dark:text-white"
    >
      <div class="p-1 max-w-min border rounded-full" title="Galadriel">
        <div class="p-3 max-w-min border rounded-full text-pink-500">
          <Support size={36} />
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="m-0 font-bold leading-5text-white">Supported</h3>
        <p class="m-0 leading-6 opacity-70">
          The Supafana team offers round-the-clock fanatical support to all customer teams via
          in-app team-to-team messaging.
        </p>
      </div>
    </div>
  </div>
</div>
