---
type Props = {
  variant?: "small" | "large";
};
const { variant = "large" } = Astro.props as Props;
---

<h2
  class:list={[
    "leading-none text-center text-[#3D67F7]",
    {
      "font-extrabold tracking-[-0.04em] text-[40px] max-w-lg md:text-5xl md:max-w-xl lg:max-w-4xl lg:text-[65px]":
        variant === "large",
      "max-w-sm pb-1 text-[32px] font-bold tracking-[-0.01em] md:max-w-md md:text-4xl lg:max-w-2xl lg:text-[40px]":
        variant === "small",
    },
  ]}
>
  <slot />
</h2>
