---
import SectionLayout from "../../layouts/section-layout.astro";
import Features from "../../ui/landing/features.astro";
import HeroText from "../../ui/landing/hero-text.astro";
import Caption from "./caption.astro";
---

<SectionLayout>
  <div class="flex flex-col items-center gap-5 md:gap-6">
    <HeroText variant="small">Why Supafana?</HeroText>
    <Caption>
      Turborepo reimagines build system techniques used by Facebook and Google to remove maintenance
      burden and overhead.
    </Caption>
  </div>
  <Features />
</SectionLayout>
